<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>Página exemplo 2</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Olá, no momento você se encontra na página de exemplo 2</h1>
    <a href="/">Para que possa voltar para a página inicial, basta clicar em mim</a>
    <br>
    <br>
    <a href="/examples/example1">Caso deseje navegar para o primeiro exemplo, clique em mim</a>
</body>
</html>