h1 {
    text-align: center;
    color: blueviolet;
}

.pai {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20;
    margin-bottom: 20;
}

.filho {
    max-width: 250px;
    max-height: 200px;
    margin: 0px 20px;
}

.retorno {
    text-align: center;
    color: chartreuse;
}