<h1>Calça Jeans</h1>
    <p>A calça skinny é composta por tecidos elásticos, como algodão, poliéster e elastano, que proporcionam conforto e flexibilidade. A principal característica dessa peça é a modelagem ajustada, que se adapta ao corpo desde a cintura até a barra.</p>
    <p>A calça skinny é uma peça versátil que pode ser usada em diversas ocasiões e combinada com diferentes peças de roupa e acessórios. Para um look casual, pode ser usada com uma camiseta e tênis, enquanto para uma produção mais sofisticada, pode ser combinada com uma camisa e um sapato de salto alto. </p>
<p class="retorno">
        <a href="/">Retorno à pagina inicial</a>
</p>