<h1>Calça Jeans</h1>
    <h2>Elastano</h2>
        <p>Também conhecido como spandex ou lycra, este tecido estica, o que torna o jeans mais confortável e permite que se adapte ao corpo.</p>
    <h2>Poliéster</h2>
        <p>Este material pode ser adicionado para aumentar a durabilidade e reduzir os cuidados necessários.</p>
    <h2>Nylon</h2>
        <p>Este material também pode ser utilizado na composição do jeans.</p>
<p class="retorno">
        <a href="/">Retorno à pagina inicial</a>
</p>