<h1>Camiseta Polo</h1>
    <h2>Gola</h2>
        <p>A gola polo é uma gola especial com um colarinho dobrável e uma abertura parcial fechada com botões.</p>
    <h2>Tecido</h2>
        <p>A malha piquet é um tecido tradicional para a confecção de camisetas polo, sendo composta por uma mistura de algodão e poliéster. O algodão é outro tecido que pode ser utilizado, sendo recomendado para camisetas polo básicas.</p>
    <h2>Acessórios</h2>
        <p>A escolha do acessório depende da ocasião em que a peça será usada. Por exemplo, em passeios ao ar livre, vale a pena usar óculos de sol e boné.</p>
    <p class="retorno">
        <a href="/">Retorno à pagina inicial</a>
    </p>