<h1>Camiseta Básica</h1>
    <h2>Material</h2>
        <p>Geralmente é feita de algodão ou uma mistura de algodão com outros materiais, como poliéster. O algodão é um material ideal para camisetas básicas porque é suave, respirável, leve e se adapta ao corpo.</p>
    <h2>Design</h2>
        <p>A camiseta básica tem um design minimalista, sem estampas elaboradas, padrões extravagantes ou detalhes chamativos.</p>
    <h2>Corte</h2>
        <p>A camiseta básica tem um corte simples, com gola redonda ou em V, mangas curtas ou compridas.</p>
    <h2>Cores</h2>
        <p>As camisetas básicas estão disponíveis em uma ampla gama de cores sólidas, mas as mais populares são o branco e o preto.</p>
    <p class="retorno">
        <a href="/">Retorno à pagina inicial</a>
    </p>